/* You can add global styles to this file, and also import other style files */

body{
    background: #bbc8e0!important;
}
.page-title{
    text-align: center;
    span{
        border-bottom: 2px solid #000;
    }
}